<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to Driving License Verifier / Status Checker</h1>
        <p class="lead">A Node.js Application by <a class="headerlink" href="https://sanjeetkanekar.github.io/sanjeetkanekar/">Sanjeet Kanekar</a></p>
    </div>
</header>