<h2 class="form_title">Driving License Verification / Status Check</h2>
    <div class="login-form">
        <form action="/status" method="POST">
            <div class="form-group">
                <label for="DLname">Driving License holders Name</label>
                <input type="text" class="form-control" id="DLname" name="DLname" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="DLnum">Driving License Number</label>
                <input type="text" class="form-control" id="DLnum" name="DLnum" placeholder="DL06201100000123">
            </div>
            <div class="form-group">
                <label for="DLdob">Date Of Birth</label>
                <input type="text" class="form-control" id="DLdob" name="DLdob" placeholder="Eg. 31-12-1994">
                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>